// styles
$lavender: #f1e8ff;
$dull-lav: #ccc9e7;
// $dark-purple: #8d82df;
$dark-purple: #696492;
$deep-purple: #3f396b;
$dark-lav: #db3194;
$lemon: #ffffc6;
$light-lemon: #ffffea;
$peach: #ffe8d3;
$babyblue: #ddfaff;
$periwinkle: #e8eaff;
$light-grey: #fbfbfb;
$light-medium-grey: #dadada;
$medium-grey: #c7c7c7;
$dark-grey: #2a2a2a;
$grey: #c7c7c7;
$teal: #1e8894;
$bright-teal: #02adad;
$dark-teal: #005050;
$dull-blue: #4f69be;
$dark-dull-blue: #1f3681;
$brown: #5c4237;
$gunmental: #2e3138;
$beige: #ece2d6;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../assets/city-blur.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 12px;
  background-position: center center;


  @media screen and (max-width: 1200px) {
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


  .login-box {
    width: 380px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.7);

    @media screen and (max-width: 800px) {
      width: 300px;
      height: 520px;
    }


    .full-logo {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      background-image: url('../assets/full-logo.png');
      background-size: 100%;
      background-repeat: no-repeat;

      @media screen and (max-width: 800px) {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
      }

    }

    .login-form {
      width: 300px;
      margin-bottom: 50px;

      @media screen and (max-width: 800px) {
        width: 250px;
        margin-bottom: 15px;
      }

      #formBasicEmail, #formBasicPassword, #formBasicName {
        font-size: 12px;
      }

      .login-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .submit-btn {
          background-color: $bright-teal;
          border: 1px solid $bright-teal;
          font-size: 12px;
        }

        .submit-btn:hover {
          background-color: $teal;
          border: 1px solid $teal;
        }
      }
    }
    a {
      color: $dark-teal;
    }
  }
}

// BOARD

.boardModal {
  
  #contained-modal-title-vcenter {
    font-size: 18px;
  }
  #boardName, #createBoard {
    font-size: 14px;
  }
  .modal-body {
    max-height: 450px;
    overflow: scroll;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 800px) {
      max-height: 300px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .boardInput {
    padding: 40px;
  }

  .boardCard {
    height: 100px;
    width: 150px;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: $teal;
    border: 1px solid $teal;
    border-radius: 8px;

    h3 {
      font-size: 16px;
      font-family: 'Oxygen', sans-serif;
    }
  }
  .boardCard:hover {
    background-color: white;
    color: $teal;
  }

  .boardCard:focus {
    background-color: white;
    color: $teal;
  }
}

.createJobModal {

  #contained-modal-title-vcenter {
    font-size: 18px;
  }

  #formBasicCompany, #formBasicTitle {
    font-size: 14px;
  }
  .modal-content {
    padding: 8px;

    .form-group {
      margin-top: 10px;
      padding: 10px;
      .form-control {
        height: 60px;
      }
    }

    .save-job-btn {
      display: flex;
      justify-content: flex-end;
      .save-btn {
        width: 70px;
        margin: 10px;
        font-size: 14px;
      }
    }
  }
}

.deleteBoardModal {
  .modal-body{
    

    .modal-btns{
      padding-top: 20px;

      .delete-btn {
        float: right;
        background-color: $dark-lav;
        color: white;
        border: 1px solid $dark-lav;
        font-size: 13px;
        width: 147px;
      }
    
      .cancel-btn {
        font-size: 13px;
        width: 70px;
      }
    }
  }
}

/*
BOARD CONTAINER
*/
.boardContainer {
  height: 100%;
  // background-color: $beige;
  background-repeat: no-repeat;
  background-position: center center;
  // background-image: url('../assets/mountains.jpg');
  background-size: 100%;

  @media screen and (max-width: 1200px) {
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .boardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgba(251, 251, 251, 0.3);

    .board-options {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      margin-left: 10px;

      .logo {
        width: 60px;
        height: 60px;
        background-image: url('../assets/logo.png');
        background-size: 70%;
        background-repeat: no-repeat;
        margin-left: 5px;
        margin-top: 5px;

        @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
            background-size: 60%;
        }
      }

    .boardDropdownFlex {
      display: flex;
      justify-content: space-between;
    }

    #dropdown-basic-button {
      height: 35px;
      margin-top: 7px;
      padding: 20px;
      padding-top: 5px;
      background-color: white;
      color: black;
      border: 1px solid white;
      font-size: 14px;


      @media screen and (max-width: 600px) {
        height: 20px;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        font-size: 11px;
      }
    }
    #dropdown-basic-button:hover {
      background-color: $brown;
      border: 1px solid $brown;
      color: white;
    }
    .dropdown-item {
      font-size: 14px;
      // width: fit-content;

      .delete-btn {
        float: right;
        color: $dark-lav;
        margin-top: 4px;
        margin-left: 20px;
      }

      .delete-btn:hover {
        color: white;
        background-color: $dark-lav;
      }
    }
    #dropItem:focus {
      background-color: $lavender;
      color: black;
      border: 1px solid $lavender;
    }

      .addBoard-btn {
        margin: 7px;
        width: 40px;
        height: 35px;
        padding-top: 4px;
        background-color: white;
        border: 1px solid white;
        color: black;

        @media screen and (max-width: 600px) {
          margin: 4px;
          width: 15px;
          height: 10px;
          padding-bottom: 23px;
          padding-right: 22px;
          padding-top: 0px;
        }

      }

      .addBoard-btn:hover {
        background-color: $brown;
        border: 1px solid $brown;
        color: white;
      }
    }

    h3 {
      text-align: center;
      padding: 10px;
      margin-right: 150px;
      font-size: 25px;

      @media screen and (max-width: 600px) {
        font-size: 18px;
        margin-top: 10px;
        margin-right: 60px;
      }
    }

    .sign-out {
      margin-right: 20px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: rgba(251, 251, 251, 0.1);
      color: black;
      border: none;
      font-size: 12px;

      @media screen and (max-width: 600px) {
        font-size: 10px;
        width: 15%;
        padding-left: 10px;
        padding-right: 10px;

      }
    }

    .sign-out:hover {
      background-color: $light-grey;
      color: $dark-grey;
    }
  }

  .board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // height: 100%;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* COLUMNS */
    .column {
      padding: 20px;
      background-color: rgba(251, 251, 251, 0.9);
      align-self: flex-start;
      width: 50%;
      min-width: 270px;
      text-align: center;
      border: 1px solid $grey;
      border-radius: 8px;
      margin: 5px;

      @media screen and (max-width: 800px) {
        min-width: 400px;
      }


      h1 {
        font-size: 18px;
        margin: 15px, 15px, 15px;
        padding: 10px;
      }
      
      h3 {
        font-size: 13px;
        padding-bottom: 10px;
      }

      // column images - currently not in use
      .column-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        .opportunities-img {
          width: 60px;
          height: 65px;
          background: url('../assets/doodles.png') -75px -65px;
          background-size: 250%;
          background-repeat: no-repeat;
          margin-left: -25px;
        }
        .applied-img {
          width: 55px;
          height: 55px;
          background: url('../assets/doodles.png') -70px -5px;
          background-size: 250%;
          background-repeat: no-repeat;
          margin-left: -25px;
        }
        .interviews-img {
          width: 55px;
          height: 65px;
          background: url('../assets/doodles.png') -20px -5px;
          background-size: 240%;
          background-repeat: no-repeat;
          margin-left: -20px;
        }
        .offers-img {
          width: 65px;
          height: 45px;
          background: url('../assets/doodles.png') -15px -88px;
          background-size: 250%;
          background-repeat: no-repeat;
          margin-left: -25px;
        }
        .rejected-img {
          width: 60px;
          height: 65px;
          background: url('../assets/doodles.png') -75px -65px;
          background-size: 250%;
          background-repeat: no-repeat;
          margin-left: -25px;
        }
      }

      .addBtn {
        background-color: white;
        border: 1px solid $medium-grey;
        font-weight: 400;
        font-size: 22px;
      }

      .jobCard {
        .card {
          margin-top: 12px;
          padding: 10px;
          padding-left: 2px;
          padding-bottom: 2px;
          border: 1px solid $medium-grey;
          -webkit-box-shadow: 0 10px 6px -6px $medium-grey;
          -moz-box-shadow: 0 10px 6px -6px $medium-grey;
          box-shadow: 0 10px 6px -6px $medium-grey;

          .cardBody {
            display: flex;
            flex-direction: column;

            .cardTop {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
             
              .cardCompany {
                font-size: 17px;
                font-weight: 600;
                align-self: flex-start;
                margin-top: -15px;
              }
              .cardLocation {
                font-weight: 200;
                font-size: 12px;
                margin-top: -10px;
                margin-right: -10px;
              }
            }
            
            .cardTitle {
              align-self: flex-start;
              font-size: 13px;
            }
          }
          
        }
      }
    }
  }
}

// JOB DETAILS MODAL


.detailsTitle {
  h1 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px;
  }
}

#details-tab-tab-details, #details-tab-tab-interviews, #details-tab-tab-contacts {
  font-size: 13px;
}

.detailsTab {

  margin: 20px;
  font-size: 13px;

  .detailsLocation{
    height: 35px;
    width: 350px;
    padding: 8px;
  }

  .detailsSalaryFlex {
    display: flex;

    #dollarSymbol {
      margin-top: 10px;
    }
  }

  .detailsSalary {
    height: 35px;
    width: 340px;
    padding: 8px;
  }
  
  .detailsUrl {
    height: 35px;
    width: 725px;
    padding: 8px;
  }
  .detailsNotes {
    height: 200px;
    width: 725px;
    padding: 10px;
  }

  .delete-btn {
    background-color: $dark-lav;
    color: white;
    border: 1px solid $dark-lav;
    font-size: 13px;
  }

  .save-btn {
    float: right;
    font-size: 13px;
  }
}

.interviewsTab {
  margin: 20px;
  font-size: 13px;

  .save-btn {
    float: right;
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.contactsTab {
  margin: 20px;
  font-size: 13px;

  .save-btn {
    float: right;
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.interviewCard {

  margin-bottom: 5px;
  
  #interviewHeaderDate {
    float: right;
    font-style: italic;
  }

  .interviewTitle, .interviewDate, .interviewTime, .interviewNotes {
    height: 35px;
    width: 333px;
    padding: 8px;
  }

  .interviewNotes {
    height: 150px;
    width: 680px;
    padding: 10px;
  }

  .delete-btn {
    background-color: $dark-lav;
    color: white;
    border: 1px solid $dark-lav;
    font-size: 13px;
  }

  .save-btn {
    float: right;
    font-size: 13px;
  }
}

.contactCard {

  margin-bottom: 5px;

  #headerTitle {
    margin-left: 20px;
    font-style: italic;
  }

  #headerContact {
    float: right;
  }

  .contactName, .contactTitle, .contactPhone, .contactEmail {
    height: 35px;
    width: 333px;
    padding: 8px;
  }

  .contactNotes {
    height: 100px;
    width: 680px;
    padding: 10px;
  }

  .delete-btn {
    background-color: $dark-lav;
    color: white;
    border: 1px solid $dark-lav;
    font-size: 13px;
  }

  .save-btn {
    float: right;
    font-size: 13px;
  }
}
