// styles
$lavender: #f1e8ff;
$lemon: #ffffc6;
$babyblue: #ddfaff;
$periwinkle: #e8eaff;
$lightgrey: #fbfbfb;
$grey: #c7c7c7;

html,
body,
#root,
.app {
  // margin: 0;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-img {
    width: 100%;
    height: 100%;
    // background-color: $periwinkle;
    background-image: url('../assets/laptop-full.jpg');
    // background-image: url('../assets/begin.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .login-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-form {
      width: 500px;
      margin-bottom: 50px;

      .login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// BOARD
.boardContainer {
  height: 100%;

  .boardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-align: center;
      padding: 10px;
    }

    .sign-out {
      margin-right: 20px;
      margin-top: 5px;
      padding: 10px;
    }
  }

  .board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f8ff;
    height: 100%;

    span {
      display: inline-block;
      width: 0;
      height: 98%;
      margin-top: 15px;
      border-right: 1px solid $grey;
    }

    .column {
      padding: 20px;
      height: 100%;
      width: 50%;
      text-align: center;

      h1 {
        font-size: 25px;
        margin: 20px;
        padding: 20px;
      }

      .addBtn {
        background-color: white;
        font-weight: 400;
        font-size: 30px;
      }
    }
  }
}
