// styles
$lavender: #f1e8ff;
$dark-lav: #db3194;
$lemon: #ffffc6;
$light-lemon: #ffffea;
$peach: #ffe8d3;
$babyblue: #ddfaff;
$periwinkle: #e8eaff;
$light-grey: #fbfbfb;
$dark-grey: #2a2a2a;
$grey: #c7c7c7;
$teal: #1e8894;
$bright-teal: #02adad;
$dark-teal: #005050;

html,
body,
#root,
.app {
  // margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-img {
    width: 100%;
    height: 100%;
    // background-color: $periwinkle;
    // background-image: url('../assets/laptop-full.jpg');
    background-image: url('../assets/begin.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .login-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-form {
      width: 500px;
      margin-bottom: 50px;

      .login-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .submit-btn {
          background-color: $bright-teal;
          border: 1px solid $bright-teal;
        }

        .submit-btn:hover {
          background-color: $teal;
          border: 1px solid $teal;
        }
      }
    }
    a {
      color: $dark-teal;
    }
  }
}

// BOARD

.boardModal {
  .modal-body {
    padding: 20px;
  }

  .boardInput {
    padding: 40px;
  }

  .boardCard {
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: $teal;
    border: 1px solid $teal;
    border-radius: 8px;

    h3 {
      font-size: 20px;
      font-family: 'Oxygen', sans-serif;
    }
  }
  .boardCard:hover {
    background-color: white;
    color: $teal;
  }
}

.createJobModal {
  .modal-content {
    padding: 8px;

    .form-group {
      margin-top: 10px;
      padding: 10px;
      .form-control {
        height: 60px;
      }
    }

    .save-job-btn {
      display: flex;
      justify-content: flex-end;
      .save-btn {
        width: 90px;
        margin: 10px;
        padding: 10px;
      }
    }
  }
}

.boardContainer {
  height: 100%;

  .boardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    #dropdown-basic-button {
      margin-left: 20px;
      margin-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $teal;
      color: white;
      border: 1px solid $teal;
    }
    #dropdown-basic-button:hover {
      background-color: $dark-teal;
      border: 1px solid $dark-teal;
    }
    #dropItem:focus {
      background-color: $lavender;
      color: black;
      border: 1px solid $lavender;
    }

    .board-options {
      display: flex;
      flex-direction: row;

      .addBoard-btn {
        margin: 5px;
        background-color: $teal;
        color: white;
      }

      .addBoard-btn:hover {
        background-color: $dark-teal;
        border: 1px solid $dark-teal;
      }
    }

    h1 {
      text-align: center;
      padding: 10px;
    }

    .sign-out {
      margin-right: 20px;
      margin-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $dark-lav;
      color: white;
      border: 1px solid $dark-lav;
    }

    .sign-out:hover {
      background-color: $lavender;
      border: 1px solid $lavender;
      color: $dark-grey;
    }
  }

  .board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $light-grey;
    height: 100%;

    span {
      display: inline-block;
      width: 0;
      height: 98%;
      margin-top: 15px;
      border-right: 1px solid $grey;
    }

    .column {
      padding: 20px;
      height: 100%;
      width: 50%;
      text-align: center;

      h1 {
        font-size: 25px;
        margin: 20px;
        padding: 20px;
      }

      .addBtn {
        background-color: white;
        font-weight: 400;
        font-size: 30px;
      }

      .jobCard {
        .card {
          margin: 10px;
          padding: 10px;

          .cardTitle {
            font-weight: 600;
          }
        }
      }
    }
  }
}

// JOB DETAILS MODAL

.detailsTab {
  margin: 20px;
}
